.stamps-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 2;
  pointer-events: none;
}

// stamps ul li element, used to store data
.stamps {
    display: none;
    visibility: hidden;
}
.stamp {
    padding: 5px;
    font-weight: bold;
    font-family: 'Poppins';
    color: black;
    transition: all 200ms ease-in-out, opacity 200ms linear;
    box-shadow: 1px 1px 5px black;
    position: absolute;
}
